# User specific ignores
.poubelle/
.stereamlite/
.streamlit/
notebooks/
ftp_deploy/
src/data/
src/bankrupcy/
src/bankrupcy_processing.py
src/daily delisting/
src/daily_delisting_processor.py
data/processed/
scripts/

# Python
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Build
build/
dist/
*.egg-info/

# VS Code SFTP Config
.vscode/
ftp_deploy/.vscode/
ftp_deploy/
